/* COLOR PALETTE */
:root {
  --ff-lightlilac: #c7bbff;
  --ff-lilac: #6556b1;
  --ff-lightpurple: #4b3c96;
  --ff-indigo: #251c52;
  --ff-purple: #362b6a;
  --ff-red: #d8313f;
  --ff-black: #141414;
  --ff-gray: #3e3e3e;
  --ff-white: #ffffff;
}
/* COLOR PALETTE */

* {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  color: var(--ff-white);
}

body {
  background-color: #141414;
}

h1 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  color: var(--ff-lightlilac);
}

a, a:link, a:visited {
  color: var(--ff-lightlilac);
}

a:hover {
  color: var(--ff-red);
}

input[type="checkbox"] {
  margin-right: 1rem;
  border: 1px solid var(--ff-black);
  border-radius: 2px;
  accent-color: var(--ff-white);
  width: 1rem;
  height: 1rem;
}

.btn {
  margin: 2%;
  background-color: var(--ff-lightpurple);
  border: none;
  -webkit-transition: background-color 0.6s ease-out;
  -moz-transition: background-color 0.6s ease-out;
  -o-transition: background-color 0.6s ease-out;
  transition: background-color 0.6s ease-out;
  box-shadow: 1px 1px 5px black;
  color: rgb(255, 255, 255);
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--ff-red);
  color: white;
}

.title {
  font-size: 45px;
  text-align: center;
}

.icon {
  margin-right: 1rem;
}
