/* COLOR PALETTE */
:root {
  --ff-purple: #7267ab;
  --ff-red: #d8313f;
  --ff-black: #1f1f1f;
  --ff-gray: #3d3d3d;
  --ff-white: #dfdfdf;
}
/* COLOR PALETTE */

* {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  color: var(--ff-white);
}

body {
  background-color: var(--ff-black);
}

h1 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  color: var(--ff-purple);
}

a, a:link, a:visited {
  color: var(--ff-purple);
}

a:hover {
  color: var(--ff-red);
}

input[type="checkbox"] {
  margin-right: 1rem;
  border: 1px solid var(--ff-purple);
  border-radius: 2px;
  accent-color: var(--ff-purple);
  width: 0.8rem;
  height: 0.8rem;
}

.btn {
  margin: 2%;
  background-color: var(--ff-purple);
  border: none;
  -webkit-transition: background-color 0.6s ease-out;
  -moz-transition: background-color 0.6s ease-out;
  -o-transition: background-color 0.6s ease-out;
  transition: background-color 0.6s ease-out;
  box-shadow: 1px 1px 4px black;
  color: white;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--ff-red);
  color: white;
}

.title {
  font-size: 40px;
  text-align: center;
}

.icon {
  margin-right: 1rem;
}
