/* COLOR PALETTE */
:root {
  --ff-purple: #7267ab;
  --ff-red: #d8313f;
  --ff-black: #1f1f1f;
  --ff-gray: #3d3d3d;
  --ff-white: #dfdfdf;
}
/* COLOR PALETTE */
.Account > .title{
  padding-top: 1%;
  color: var(--ff-purple);
}
.basicInfo{
  text-align:center;
}
.pfp{
  width:15%;
  border: 1px solid var(--ff-black);
  border-radius:50%;
  padding:0.5%;
}
.basicInfo{
  background: var(--ff-gray);
  border-radius:50px;
  margin: 0 auto;
  padding: 3% 3% 1% 3%;
  width: 90%;
  max-width: 750px;
}

hr {
  width: 95%;
  margin: 3% auto;
}

.statusButtons{
  text-align:center;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  padding: 3% 5%;
}

.statusIcon{
  padding: 4% 5%;
  font-size: 4em;
  color: var(--ff-white);
}

.statusLabel{
  display:flex;
}

.statusLabels{
  text-align:center;
}
.statusLabel{
  padding: 3% 5% 0% 5%;
}

.interestBox{
  background:var(--ff-gray);
  text-align:center;

  border-radius:50px;
  margin: 0 auto;
  padding: 3% 3% 1% 3%;
  width: 90%;
  max-width: 750px;
}

.interests{
  padding-top:3%;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
}

.interestIcon{
  font-size:3em;
  margin-bottom:17%;
}
.interestTitle{
  display:block;
}


.settings{
  text-align:center;
  background:var(--ff-gray);
  width:90%;
  margin: 3% auto;
  border-radius:50px;
  padding: 3%;
  max-width: 750px;
}

.logout{
  margin-top:3%;
  min-width:12em;
  min-height:4em;
  /* display:block; */
}

.isolating * {
  color:#cf2a27;
}
.away * {
  color:#2b78e4;
}
.guest * {
  color:#27cf4f;
}

/* for desktop: */
@media only screen and (min-width: 768px) {
  .statusButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 700px;
    gap: 150px;
    margin: 0 auto;
    }
  hr {
    width: 70%;
    margin: 2% auto;
  }
  }
