/* COLOR PALETTE */
:root {
    --ff-purple: #7267ab;
    --ff-red: #d8313f;
    --ff-black: #1f1f1f;
    --ff-gray: #3d3d3d;
    --ff-white: #dfdfdf;
  }
  /* COLOR PALETTE */
  .EventList {
    display: flex;
  
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 25px;
    background-color: var(--ff-gray);
    overflow: scroll;
    border-radius: 10px;
    min-width: 100px;
    max-width: 650px;
    width: border-box;
    margin: auto;
    padding: 10px;
  }
  
  .EventButton {
    margin-right: 1rem;
  }

  .Button {
    color: var(--ff-purple);
  }
  