.groupsList {
  text-align:center;

  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  background-color: #929DD8;
  overflow: auto;
  border-radius: 10px;
  width: 95%;
  max-width: 750px;
  margin: auto;
  padding: 10px;
}

a, a:hover{
  text-decoration:none;
  color:black;
}
