.groupsList {

  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  background-color: lightgray;
  overflow: auto;
  border-radius: 10px;
  width: 95%;
  max-width: 750px;
  margin: auto;
  padding: 10px;
}
