a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.GroupButtonCircle{
    border-radius: 50%;
    background-color: darkgrey;
    width: 100px;
    height: 100px;

}
.GroupButtonIcon{
    width: 70%;
    height: 70%;
    margin: 15%;
}

.GroupButtonIcon:hover{
    width: 80%;
    height: 80%;
    margin: 10%;
}

.GroupButtonTitle{
    font-size: 20px;
    text-wrap: normal;
    text-align: center;
    width: 100px;
}