* {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}
.login {
  text-align: center;
}

.logo {
  font-size: 4em;
}
.loginForm {
  margin: 0 auto;
  padding: 15px 3% 15px 3%;
  width: 90%;
  background-color: #dddddd;
  border-radius: 15px;
}

.loginButton {
  margin: 2%;
}

hr {
  width: 95%;
  margin: 3% auto;
}

/* for desktop: */
@media only screen and (min-width: 768px) {
  .loginForm {
    margin: 0 auto;
    padding: 15px 25px 15px 25px;
    width: 690px;
    background-color: #dddddd;
    border-radius: 15px;
  }
  hr {
    width: 70%;
    margin: 2% auto;
  }
}
