/* COLOR PALETTE */
:root {
  --ff-purple: #7267ab;
  --ff-red: #d8313f;
  --ff-black: #1f1f1f;
  --ff-gray: #3d3d3d;
  --ff-white: #dfdfdf;
}
/* COLOR PALETTE */

.login {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  color: var(--ff-white);
  text-align: center;
}

.logo {
  font-size: 4em;
  color: var(--ff-purple);
}

.login > .loginForm {
  margin: 0 auto;
  padding: 15px 3% 15px 3%;
  width: 90%;
  background-color: var(--ff-gray);
  border-radius: 15px;
  box-shadow: 2px 2px 2px inset var(--ff-gray);
}

.inputDiv {
  background-color: var(--ff-white);
  border-radius: 8px;
  box-shadow: 2px 2px 2px inset var(--ff-black);
}

.loginInput {
  background: transparent;
  border: none;
}

.check-container {
  display: block;
}

/* for desktop: */
@media only screen and (min-width: 768px) {
  .loginForm {
    margin: 0 auto;
    padding: 15px 25px 15px 25px;
    width: 690px;
    border-radius: 15px;
  }
  hr {
    width: 70%;
    margin: 2% auto;
  }
}
