/* COLOR PALETTE */
:root {
  --ff-purple: #7267ab;
  --ff-red: #d8313f;
  --ff-black: #1f1f1f;
  --ff-gray: #3d3d3d;
  --ff-white: #dfdfdf;
}
/* COLOR PALETTE */
.privacyPolicy {
  margin: 1rem;
  max-width: 100ch;
}

.privacyPolicy h2 {
  font-size: 2rem;
}

.privacyPolicy h3 {
  font-size: 1.5rem;
}

.privacyPolicy label {
  display: block;
}

.privacyPolicy table, th, tr, td {
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  gap: 1rem;
  border: 2px inset var(--ff-white);
}

.privacyPolicy td {
  border: 2px inset var(--ff-white);
}

.privacyPolicy th {
  border: 2px inset var(--ff-white);
}
/*
td:hover {
border: 2px solid var(--ff-red);
}
*/
.privacyPolicy th {
  font-weight: bold;
}
