
/* COLOR PALETTE */
:root {
    --ff-purple: #7267ab;
    --ff-red: #d8313f;
    --ff-black: #1f1f1f;
    --ff-gray: #3d3d3d;
    --ff-white: #dfdfdf;

    --screenDimOpacity: 80%;
    --navbarHeight: 80px;
}
/* COLOR PALETTE */

.Navbar{
    width: 100%;
    background-color: var(--ff-purple);
    height: var(--navbarHeight);
    top: 0;
    justify-items: center;
    position: fixed;

}

.NavbarMargin{
    height:var(--navbarHeight);
    margin-bottom: 10px;
}

.NavbarFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 700px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    color: var(--ff-white);
}

.NavbarIcon{
    height: 50px;
    width: 50px;
    margin: auto;
}

.NavbarIcon * {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.NavbarIcon:hover * {
    color: var(--ff-black);
    opacity: 0.8;
}


.NavigationMenu{
    display: flow;
    position: fixed;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    height: 100%;
    background-color: var(--ff-purple);
    color: var(--ff-white);
    z-index: 3;

}

.NavigationMenu.O{
    overflow-y:hidden;
}

.NavigationMenu a{
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.NavigationMenu a:hover {
    color: var(--ff-gray);
}

/* Desktop View*/
@media (min-width: 450px) {
    .NavigationMenu{
        width: 400px;
    }

    .NavigationMenu.I{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .NavigationMenu.O{
        top:0;
        left: 0;
        bottom:0;
        animation: slideIn 0.6s 1;
    }

    .NavigationMenu.C{
        top: 0;
        right: 0;
        bottom: 0;
        left: -400px;
        animation: slideOut 0.6s 1;
    }

    @keyframes slideIn {
        0% {transform: translateX(-100%)}
        10%{transform: translateX(-98%)}
        20%{transform: translateX(-95%)}
        80%{transform: translateX(-5%)}
        90%{transform: translateX(-2%)}
        100% {transform: translateX(0%)}
    }

    @keyframes slideOut {

        0% {
            transform: translateX(100%)
        }
        10% {
            transform: translateX(98%)
        }
        20% {
            transform: translateX(95%)
        }
        80% {
            transform: translateX(75%)
        }
        90% {
            transform: translateX(2%)
        }
        100% {
            transform: translateX(0%)
        }



    }
}

/* Mobile View */
@media (max-width: 449px) {
    .NavigationMenu{
        width: 85%;
    }

    .NavigationMenu.O {
        top: 0;
        right: 10%;
        bottom: 0;
        left: 0;
        animation: slideIn 0.6s 1;
    }

    .NavigationMenu.C{
        top: 0;
        right: 0;
        bottom: 0;
        left: -85%;
        animation: slideOut 0.6s 1;
    }

    @keyframes slideIn {
        0% {
            transform: translateX(-100%)
        }
        10% {
            transform: translateX(-98%)
        }
        20% {
            transform: translateX(-95%)
        }
        80% {
            transform: translateX(-5%)
        }
        90% {
            transform: translateX(-2%)
        }
        100% {
            transform: translateX(0%)
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateX(100%)
        }
        10% {
            transform: translateX(98%)
        }
        20% {
            transform: translateX(95%)
        }
        80% {
            transform: translateX(5%)
        }
        90% {
            transform: translateX(2%)
        }
        100% {
            transform: translateX(0%)
        }


    }


}

.PageDimmer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: black;
    pointer-events: none;
}

.PageDimmer.I{
    opacity: 0;
    pointer-events: none;
}

.PageDimmer.O{
    position: fixed;
    opacity: 60%;
    animation: fade-In 1s;
}
.PageDimmer.C {
    animation: fade-Out 0.6s 1;

    opacity: 0;
    pointer-events: none;
}

@keyframes fade-In {
    0% {opacity:0;}
    100% {opacity:60%;}
}

@keyframes fade-Out {
    0% {opacity:60%;}
    100% {opacity:0;}
}


.NavigationMenu li{

    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    width: 100%;
    align-self: center;

}

.NavigationMenu a {
    font-size:30px;
    text-align: left;
    text-decoration: none;
    color: white;
}

.NavigationMenu li + li{
    border-top: 2px solid darkgray;
}

.TopNavbarMenuItems {
    position: absolute;
}

.BottomNavbarMenuItems{
    bottom: 30px;
    position: absolute;
}

.NavbarMenuIcon{
    width: 35px;
    height: 35px;
    margin-right: 15px;
}