* {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}

a, a:link, a:hover a:visited {
	color: #0d6efd;
}

hr {
  width: 95%;
  margin: 3% auto;
}

/* for desktop: */
@media only screen and (min-width: 768px) {
  hr {
    width: 70%;
    margin: 2% auto;
  }
}
